.banner {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 700px;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}



.banner .banner-info{
    position: absolute;
    color: white;
    width: 50%;
    top: 40%;
    right: 40%;
}

.banner .banner-info h1 {
    margin-bottom: 15px;
    font-size: 40px;
}

.banner .banner-info p {
    margin-bottom: 10px;
}

.banner .banner-info span {
    margin-right: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.banner .banner-info span ion-icon {
    margin-right: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}


.banner .banner-img img {
    height: 710px;
    width: 1200px;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, transparent 15%, #000000 100%);
  
}


.filme-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    padding: 70px 0px;
    margin: 0 auto;
    color: #e6e6e6;
}

.filme-info .area-banner img {
    border: 4px solid #292929;
    height: 100%;
    width: 300px;
    object-fit: cover;  
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.271);
}

.filme-info .area-info {
    width: 65%;
}

.filme-info .area-info h3{
    font-size: 30px;
    margin-bottom: 15px;
}

.filme-info .area-info p{
    font-size: 19px;
    margin-bottom: 35px;
    color: #b6b6b6;
}


.filme-info .area-info ul{
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 20px;  
}

.filme-info .area-info li {
    margin-bottom: 15px;
    color: #b6b6b6;
}

.filme-info .area-info li img {
    width: 40px;
}

.area-buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}


.area-buttons button{
    color: #e6e6e6;
    background-color: #37A695;
    border: 1px solid #37A695;
    border-radius: 20px;
    margin-right: 12px;
    padding: 10px 14px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.area-buttons button:hover {
    background-color: #268765;
    border: 1px solid #268765;
}

.area-buttons button a {
    text-decoration: none;
    color: #e6e6e6;
}

.area-buttons button:hover a {
    color: white;
}   
